body{
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('img/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  
}




.overlay {
  position: relative;
  z-index: 1;
  width: 800px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
}

label {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 90%;
  margin-bottom: 50px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

button:hover {
  background-color: #0056b3;
}

.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}